@font-face {
    font-family: yekan;
    src: url("/font/yekan/yekan_5.ttf");
}
  
*{
    font-family: yekan;
}



/* ant design styles */

.ant-spin{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color : rgb(255, 255, 255, 0.6);
    height : 100vh !important;
    max-height: none !important;

    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

.ant-result{
    width : 400px !important;
}


.ant-spin-dot{
    position: none !important;
    top: 25% !important;
    left :auto !important;  
    margin: none !important;
}


.ant-result-title{
    font-size : 30px !important;
}

.ant-result-subtitle{
    font-size : 16px !important;
    color: #05595B !important;
    padding: 7px !important;
    border-radius : 3px;
}